.nosotros div{
    align-self: end;
}

.nosotros h1{
    font-size: 5rem;
    font-family: "French Script MT";
    font-weight: 200;
    letter-spacing: 7px;
}


.nosotros p{
    width: 100vw;
    max-width: 1000px;
    padding: 2.4rem;
    font-size: 2.3rem;
    font-family: "French Script MT";
    text-align: center;
    align-self: start;
    line-height: 60px;
}

@media screen and (max-width:900px) {
    .nosotros h1{
        font-size: 4rem;
    }
    .nosotros p{
        font-size: 2.0rem;
        line-height: 40px;
    }
}

@media screen and (max-width:530px) {
    .nosotros h1{
        font-size: 3.5rem;        
    }
    .nosotros p{
        font-size: 1.8rem;
        line-height: 30px;        
    }
}