.registro{
  padding: 0 20px;
}

.registro > div:first-child{
  align-self: end;
}

.registro h1 {
  font-size: 2rem;
  font-family: "Ludo Clean";
  font-weight: 200;
  letter-spacing: 4px;
}

.registro p {
  font-size: 1.35rem;
  font-family: "Avenir Light"; 
  letter-spacing: 3px;
}

.registro > div:not(:first-child){
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 150px;  
}

.registro > div span {
  display: grid;
  gap: 15px;
}

.registro > p:last-of-type {
  font-size: 1.5rem;
  /* margin-bottom: 100px; */
  align-self: start;
  line-height: 40px;
  font-weight: 600;
  font-style: italic;
}

@media screen and (max-width:530px) {
  .registro h1 {
    font-size: 1.5rem;
  }
  .registro p{
      font-size: 1.2rem;
      letter-spacing: 2px;
  }

  .registro > div:not(:first-child){
    grid-column-gap: 90px;
  }

  .registro > p:last-of-type {
    font-size: 1.1rem;
  }
}