.mapa{
    background-color: var(--secondary-color);    
}

.mapa h1{
    font-size: 2rem;
    font-family: "Ludo Clean";
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 100px;
}

.container-sections iframe{
    width: 100vw;
    max-width: 1500px;
    height: 550px;
    border: 0;
    place-self: start;    
    justify-self: center;
    margin: 50px 0;
    padding: 0 4rem;
}