@font-face {
  font-family: "French Script MT";
  src: url("./assets/fonts/FrenchScriptMT.ttf") format("truetype");
}

@font-face {
  font-family: "Avenir Light";
  src: url("./assets/fonts/FontsFree-Net-Avenir-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Ludo Clean";
  src: url("./assets/fonts/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf") format("truetype");
}

:root {
    --primary-color: #163E3A;
    --primary-dark: #4f9c55;
    --secondary-color: #F6FCFF;
    --secondary-dark:#e3d002;
    --overlay: rgba(0,0,0,.7);
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.2rem;
    line-height: 1.2;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
/*PARALLAX*/
  .parallax-bg {
    min-height: 70vh;
    position: relative;
  }

  .parallax-bg .content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  
  .container-sections{
    height: 100vh;
    display:grid;
    place-items:center;
    color: var(--primary-color);
    text-align: center;
  }

  .container-sections .arrow{
    display: none;
  }

  @media screen and (max-width:530px) {
    .container-sections .arrow{
      display: block;
      align-self: start;
      width: 40px;
    }
    
    @keyframes bounce {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-10px);
      }
      100% {
        transform: translateY(0);
      }
    }
    
    .down-arrow-2 {
      animation: bounce 1.2s infinite;
    }
  }
  